<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(title='Overview news')">
</head>
<body>
<header th:replace="fragments/header :: header(current='overview-news')"></header>
<main>
    <div class="container-lg">
        <table class="table table-striped table-responsive-lg">
            <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Date</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>