<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head(title='Overview news')">
</head>
<body>
<header th:replace="fragments/header :: header(current='overview-news')"></header>
<main class="container">
    <div id="mainContainer">
    </div>

    <form id="addNewsForm">
        <div id="title" class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" placeholder="Enter title">
        </div>
        <div id="content" class="form-group">
            <label for="inputText">Text</label>
            <textarea class="form-control" id="inputText" rows="3"></textarea>
        </div>
        <div id="author" class="form-group">
            <label for="inputAuthor">Author</label>
            <input type="text" class="form-control" id="inputAuthor" aria-describedby="authorHelp" placeholder="Enter author">
        </div>
        <button class="btn btn-primary" id="addNewsButton">Add</button>
    </form>
</main>
<script type="text/javascript" th:src="@{/js/news-overview.js}"></script>
</body>
</html>